# ABM_LOG_LEVEL=INFO
ABM_REDIS_URL=redis://localhost:6379/0
# ABM_CACHE_TTL_SECONDS=604800
# ABM_REQUEST_TIMEOUT_SECONDS=15.0
# ABM_USER_AGENT=anibridge-metadata/0.1.0
# ABM_BATCH_MAX_SIZE=50
# ABM_BATCH_REFRESH__ENABLED=false
# ABM_BATCH_REFRESH__CRON=0 3 * * *
# ABM_BATCH_REFRESH__REFRESH_ON_STARTUP=false

# ABM_ANIDB__ENABLED=true
# ABM_ANIDB__RATE_LIMITER__RATE=0.5
# ABM_ANIDB__RATE_LIMITER__CAPACITY=1
# ABM_ANIDB__CACHE_TTL_SECONDS=604800

# ABM_ANILIST__ENABLED=true
# ABM_ANILIST__RATE_LIMITER__RATE=0.5
# ABM_ANILIST__RATE_LIMITER__CAPACITY=4
# ABM_ANILIST__CACHE_TTL_SECONDS=604800

# ABM_MAL__ENABLED=true
# ABM_MAL__RATE_LIMITER__RATE=1
# ABM_MAL__RATE_LIMITER__CAPACITY=1
# ABM_MAL__CLIENT_ID=b11a4e1ead0db8142268906b4bb676a4
# ABM_MAL__CACHE_TTL_SECONDS=604800

# ABM_IMDB__ENABLED=true
# ABM_IMDB__RATE_LIMITER=null
# ABM_IMDB__CACHE_TTL_SECONDS=604800

# ABM_TVDB__ENABLED=true
# ABM_TVDB__RATE_LIMITER=null
# ABM_TVDB__CACHE_TTL_SECONDS=604800
ABM_TVDB__API_KEY=
# ABM_TVDB__PIN=null

# ABM_TMDB__ENABLED=true
# ABM_TMDB__RATE_LIMITER=null
# ABM_TMDB__CACHE_TTL_SECONDS=604800
ABM_TMDB__ACCESS_TOKEN=
