# ABM_DATABASE_URL=sqlite+aiosqlite:///./data/anibridge_metadata.db
# ABM_SQL_ECHO=false
# ABM_CACHE_TTL_SECONDS=21600
# ABM_REQUEST_TIMEOUT_SECONDS=15.0
# ABM_USER_AGENT=anibridge-metadata/0.1.0

ABM_ANIDB__CLIENT=
ABM_ANIDB__CLIENT_VERSION=
# ABM_ANIDB__RATE_LIMITER__RATE=0.5
# ABM_ANIDB__RATE_LIMITER__CAPACITY=1

# ABM_ANILIST__RATE_LIMITER__RATE=0.5
# ABM_ANILIST__RATE_LIMITER__CAPACITY=4

ABM_MAL__CLIENT_ID=
# ABM_MAL__RATE_LIMITER__RATE=1
# ABM_MAL__RATE_LIMITER__CAPACITY=1

ABM_IMDB__API_KEY=

ABM_TVDB__API_KEY=
# ABM_TVDB__PIN=

ABM_TMDB__ACCESS_TOKEN=
